/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. See /licenses/Thunderbird-MPL-2.0.txt.
 * Selected modules from thunderbird/thunderbird-website, prod 9abcd60.
 */
@xxs: 25rem;
@xs: 30rem;
@sm: 40rem;
@md: 48rem;
@lg: 64rem;
@xl: 80rem;
@xxl: 90rem;

@import "upstream/new/colours.less";
@import "upstream/new/links.less";
@import "upstream/new/animations.less";
@import "upstream/new/shadows.less";
@import "upstream/new/sizing.less";
@import "upstream/new/layout.less";
@import "upstream/new/variables.less";
@import "upstream/new/components/buttons.less";
@import "upstream/new/components/site-nav.less";
@import "upstream/new/components/testimonial.less";
@import "upstream/new/components/pre-footer.less";
@import "upstream/new/components/blocks.less";
@import "upstream/pages/home.less";
@import "upstream/new/2025-fonts.less";
